* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    width: 600px;
    height: 600px;
    border: 1px solid black;
}

.cell {
    border: 1px solid black;
}