* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(13, 17, 22);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    width: 600px;
    height: 600px;
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(230, 230, 230);
}

.cell {
    border: 1px solid black;
}

main button {
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 25px;
    background-color: rgb(33, 40, 48);
    color: rgb(240, 240, 240);
    border: 1px solid rgb(90, 90, 90);
    cursor: pointer;
}

main button:hover {
    background-color: rgb(43, 50, 58);
}

main button:active {
    background-color: rgb(53, 60, 78);
}